:root {
    /* Primary Colors */
    --dark-blue: #243642;
    --teal: #387478;
    --soft-green: #629584;
    --light-mint: #E2F1E7;

    /* Text Colors */
    --text-dark: var(--dark-blue);
    --text-light: var(--light-mint);

    /* Accent Colors */
    --button-bg: var(--teal);
    --button-hover: var(--soft-green);
    --background: var(--light-mint);

    /* Additional Shades */
    --border-color: var(--teal);
    --highlight: var(--soft-green);
}

html {
    font-size: 16px;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: var(--background);
    color: var(--text-dark);
    height: 100%;
    overflow: hidden;
}

.circular-image {
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.intro-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: left;
    position: relative;
    z-index: 1;
    background-color: var(--dark-blue);
}

.intro-content {
    display: flex;
    align-items: center;
    padding: 2rem;
    border-radius: 0.625rem;
    gap: 2.5rem;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.profile-info {
    width: 40rem;
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    color: var(--text-light);
}

h1 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: var(--highlight);
}

.dynamic-text {
    font-weight: bold;
    font-size: 1.75rem;
    color: var(--text-light);
}

p {
    margin: 0.5rem 0;
    font-size: 1.25rem;
}