/* General styles for all pages */
html {
    font-size: 16px;
}

/* Prevent horizontal scrolling */
body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: black;
    color: white;
    height: 100%;
    overflow-x: hidden;
    /* Prevent horizontal scrolling */
}

/* Add this if there are other elements potentially causing overflow */
* {
    box-sizing: border-box;
    /* Ensure padding and borders are included in the element's total width and height */
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.875rem;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 10;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    margin: 0 0.9375rem;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.125rem;
    padding: 0.5rem 1rem;
    transition: text-decoration 0.3s ease;
}

.navbar ul li a:hover {
    text-decoration: underline;
}

.navbar .social-icons {
    position: absolute;
    right: 7.5%;
}

.social-icons a {
    margin-left: 0.9375rem;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #f0e68c;
}

/* Styles for the home/intro page */
.intro-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: left;
    position: relative;
    z-index: 1;
}

.intro-content {
    display: flex;
    align-items: center;
    padding: 2rem;
    border-radius: 0.625rem;
    gap: 2.5rem;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.profile-info {
    width: 40rem;
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

h1 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #f0e68c;
}

.dynamic-text {
    font-weight: bold;
    font-size: 1.75rem;
    color: #ffffff;
}

p {
    margin: 0.5rem 0;
    font-size: 1.25rem;
}

/* Styles for the gymnastics page */
.gymnastics-section {
    text-align: center;
    padding-top: 8rem;
    color: white;
}

.gymnastics-section h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.videos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

iframe {
    width: 80%;
    max-width: 560px;
    height: 315px;
    border: none;
}

/* ------------------- Styles for the skills section ------------------- */
/* Styles for the skills section */
:root {
    --color-dark: #16161A;
    --color-gray: #242629;
    --color-light-gray: #94A1B2;
    --color-white: #FFFFFE;
    --color-green: #2CB67D;
    --gap: 1.6rem;
}

.skills-section {
    text-align: center;
    padding-top: 8rem;
    color: white;
}

.skills-section h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: #f0e68c;
    /* Match color to gymnastics page */
    text-align: center;
}

.tier-group {
    padding-bottom: 4rem;
}

/* Skill Cards */
.micro-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--gap);
}

.micro-card {
    color: var(--color-white);
    background-color: var(--color-gray);
    width: 8rem;
    height: 8rem;
    padding: 1.6rem 2.4rem;
    border-radius: 1.6rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
}

.micro-card:hover {
    transform: scale(1.1);
    background-color: var(--color-green);
    color: var(--color-dark);
    font-weight: bold;
}

/* Add Rotation Effect to Icons */
.rot {
    transition: transform 0.5s ease;
}

.micro-card:hover .rot {
    transform: rotate(360deg);
    /* Rotate the icon on hover */
}

.skill-card span {
    font-size: 1.2rem;
    margin-top: 0.8rem;
}